<?xml version="1.0" encoding="utf-8"?>
<!-- Solo en debug. Se fusiona con el manifest principal y no existe en release. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".DemoReceiver"
            android:exported="true" />
    </application>
</manifest>
